.page {
  background-color: white;
  padding: 0 15px;
}
.page_content {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  padding: 24px;
}
.footer {
  padding: 24px 0;
}
.footer_copyright {
  font-size: 14px;
  color: rgba(108, 117, 125, 1);
  display: block;
  margin-top: 12px;
}
.logo {
  font-size: 17px;
}
.divider {
  margin: 0;
  height: 1px;
  background-color: rgba(222, 226, 230, 1);
}
.nav {
  display: block;
}
.nav_link {
  color: rgba(52, 58, 64, 1);
  font-size: 16px;
  text-decoration: none;
}
.nav_link:hover {
  text-decoration: underline;
  color: blue;
}
.nav_vertical > .nav_link {
  display: block;
}
.nav_inline > .nav_link:not(:last-child) {
  margin-right: 24px;
}
.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}
.header_nav_right {
  margin-left: auto;
  width: fit-content;
}
.page_block:not(:last-child) {
  margin-bottom: 80px;
}
.footer_title {
  font-size: 20px;
  color: rgba(33, 37, 41, 1);
  display: block;
  margin-bottom: 12px;
}
.hero_title {
  font-size: 56px;
  display: block;
  color: white;
  font-weight: 500;
  margin-bottom: 24px;
  text-align: start;
  align-items: center;
}
.hero_text {
  font-size: 20px;
  text-align: start;
  color: white;
  margin-bottom: 24px;
}
.hero {
  background-color: #343a40;
  border-radius: 24px;
  width: 100%;
  height: 384px;
  padding: 80px;
}
.button {
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  max-width: 248px;
  width: 100%;
}
.button:hover {
  background-color: blue;
}
.preview {
  border: 1px solid #dee2e6;
  border-radius: 24px;
  padding: 24px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}
.preview_header > span:not(:last-of-type) {
  margin-right: 12px;
}
.preview_date {
  font-size: 16px;
  color: rgba(108, 117, 125, 1);
}
.preview_category {
  font-size: 16px;
  color: rgba(108, 117, 125, 1);
}
.preview > *:not(:last-child) {
  margin-bottom: 12px;
}
.preview_title {
  display: block;
  font-size: 28px;
  font-weight: 500;
  color: rgba(52, 58, 64, 1);
}
.preview_description {
  font-size: 15px;
  color: #212529;
  font-weight: 400;
}
.preview_category_1 {
  color: #007bff;
  font-weight: 700;
}
.preview_category_2 {
  color: #ff0000;
  font-weight: 700;
}
.preview_category_3 {
  color: #198754;
  font-weight: 700;
}
.preview_category_4 {
  color: #ff7a00;
  font-weight: 700;
}
.list_title {
  font-size: 32px;
  font-weight: 500;
  color: rgba(33, 37, 41, 1);
  margin: 0px;
}
.list_header {
  padding-bottom: 12px;
  border: 1px solid #dee2e6;
  margin-bottom: 40px;
}
.categories_btn {
  font-size: 16px;
  color: rgba(108, 117, 125, 1);
  border: 1px solid #6c757d;
  padding: 8px 12px;
  border-radius: 32px;
  line-height: 100%;
}
.categories_btn:hover {
  color: #747675;
}
.list_aside {
  margin-right: px;
}
.list_category {
  text-align: right;
}
.post {
  padding-bottom: 12px;
  margin-right: 80px;
  border-bottom: 1px solid #6c757d;
}
.list > *:not(:last-child) {
  margin-bottom: 40px;
}
.continue {
  margin-bottom: 12px;
}
.date_list {
  font-weight: 400;
  font-size: 16px;
  color: rgba(153, 153, 153, 1);
  margin-bottom: 12px;
}
.author {
  margin-bottom: 12px;
  color: rgba(0, 80, 255, 1);
  font-size: 16px;
}
.post_header {
  font-weight: 500;
  font-size: 27px;
  color: #212529;
  padding-bottom: 12px;
  display: block;
}
.post_info {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #212529;
}
.list_aside > *:not(:last-child) {
  margin-bottom: 24px;
}
.about {
  padding: 24px;
  background-color: rgba(248, 249, 250, 1);
}
.about_title {
  font-weight: 500;
  font-size: 20px;
  color: #212529;
}
.about_info {
  font-weight: 400;
  font-size: 14px;
  color: #212529;
}
.link_list {
  padding: 24px;
}
.link_title {
  font-weight: 500;
  font-size: 24px;
  color: #212529;
  display: block;
}
.link_list > *:not(:last-child) {
  margin-bottom: 12px;
}
.link_item {
  font-weight: 400;
  font-size: 16px;
  text-decoration: non;
  color: rgba(0, 123, 255, 1);
  display: block;
}
.link_item:hover {
  text-decoration: underline;
}
