{{#with data}}
  <div class='post'>
    <strong class='post_header'>{{title}}</strong>
    <div class='date_list'>{{date}}
      by
      <span class='author'>{{author}}</span></div>
    <p class='post_info'>{{description}}</p>
    <a class='continue' href='#'>Continue reading</a>
  </div>
{{/with}}